<!-- <pre>{{ trips | json }}</pre> -->

<div>
    <button *ngIf="isLoggedIn()" (click)="addTrip()" class="btn btn-info">
        Add Trip
    </button>
</div>

<div class="row">
    <div *ngFor="let trip of trips" class="col-md-4">
        <!-- Handle delete requests emitted by individual trip cards -->
        <!-- Added DELETE functionality on 09/17/26 -->
        <app-trip-card
            [trip]="trip"
            (deleteRequested)="deleteTrip($event)"
            class="card-deck mt-2">
        </app-trip-card>
    </div>
</div>